.area--total{
    margin-left: 300px;
    margin-top: 80px;
    width: 900px;
    height: 800px;
    background: red;
}

.area--multiplicação {
    border: solid 1px;
    display: inline-block;
    height: 250px;
    width: 150px;
    margin: 10px;
}
