body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.calc{
    height: 500px;
    width: 300px;
    background:#ffc107;
    border-radius: 10px;
    padding: 5px;
}

.calc--res{
    height: 150px;
    width: 300px;
    background:black;
    margin-top: 15px;
    border-radius: 10px;
    color: white;
    font-size: 22px;
    text-align: end;
}

.calc--buttons{
    height: 340px;
    width: 300px;
    background: #fdec02bb;
    border-radius: 10px;
}