body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.calc{
    height: 320px;
    width: 200px;
    background:#ffc107;
    border-radius: 10px;
    padding: 5px;
}

.calc--res{
    height: 80px;
    width: 200px;
    background:black;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    margin-bottom:5px;
    direction: ltr;
    text-align: end;
}

.calc--buttons{
    height: 190px;
    width: 200px;
    background:#ffc107;
    border-radius: 10px;
    display: inline-block;
}

button{
    background:white;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #808080;
    height: 47px;
    width: 47px;
    color:black;
    text-align: center;
    margin-bottom: 1px;
}

.equals--button{
    background: #0d6efd;
    width: 200px;
}   

button:hover{
    background: #F0E68C;
    transition: all 0.2s;
}